<header>
    <div class="container">
        <h1>FilmeRate</h1>
        <nav>
            {% if logado %}
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#avaliacoes">Avaliações</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
            {% else %}
            <ul>
                <li><a href="{{ url_for('route.login_form')}}">Login</a></li>
            {% endif%}
        </nav>
    </div>
</header>