<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmeRate - Avaliações de Filmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    {% include 'header.html' %}
        <section name="login"  id="login" class="login">
            <div class="container">
                <h3>Login</h3>
                <form action="/login" method="POST" id="login-form">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="Username">Username</label>
                    <input name="username" required>

                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required>

                    <button type="submit">Entrar</button>
                </form>
                <div class="login-options">
                    <a href="#">Criar conta</a> | <a href="">Esqueceu sua senha?</a>
                </div>
            </div>
        </section>

    {% include 'footer.html' %}
</body>
</html>
